<!-- Last Section ============================== -->
<div class="section-container second-section white-bg">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3>Want to know more?</h3>
                <div class="row">
                    <div class="span3">
                        <input type="text" style="width:100%" /></br>
                        <input type="checkbox" /> I'm okay with your Privacy Policy.
                    </div>
                    <div class="span3">
                        <button class="btn blue-btn">SIGN UP</button>
                    </div>
                </div>
            </div>
            <div class="span6">
                <h3>Supported By</h3>
                <div><img src="/images/collusion_partners_fordfoundation.png" /></div>
                <p>
                    The work at the Ford Foundation focuses on building outreach compaigns to help people understand online data tracking -- both the benefits and the issues.  <a href="">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End Last Section -->