<div class="section-container footer dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="/images/mozilla_wordmark_white.png" width="50%" height="50%" />
            </div>
            <div class="span2">
                <div class="row">
                    <h5>ABOUT</h5>
                </div>
                <div class="row">
                    <a href="">Collusion Add-On</a><br/>
                    <a href="">About Us</a><br/>
                    <a href="">Add-On Demo</a>
                </div>
            </div>
            <div class="span2">
                <div class="row">
                    <h5>RESOURCES</h5>
                </div>
                <div class="row">
                    <a href="">Collusion Database</a><br/>
                    <a href="">Collusion Counter</a><br/>
                    <a href="">Learn About Privacy</a>
                </div>
            </div>
            <div class="span2">
                <div class="row">
                    <h5>NEWS</h5>
                </div>
                <div class="row">
                    <a href="">Blog</a><br/>
                    <a href="">About Us</a><br/>
                    <a href="">Add-On Demo</a>
                </div>
            </div>
            <div class="span2">
                <div class="row">
                    <h5>CONNECT</h5>
                </div>
                <div class="row">
                    <div style="float: left; margin: 0 10px 10px 0"><img src="/images/collusion_icon_twitter.png" /></div>
                    <div style="float: left;"><img src="/images/collusion_icon_facebook.png" /></div>
                </div>
                <div class="row">
                   <div style="float: left; margin: 0 10px 10px 0"><img src="/images/collusion_icon_googleplus.png" /></div>
                </div>
            </div>
        </div>
    </div>
</div>