<div class="section-container footer dark-bg">
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="/images/mozilla_wordmark_white.png" width="50%" height="50%" />
            </div>
            <div class="span2">
                <div class="row">
                    <h5>ABOUT</h5>
                </div>
                <div class="row">
                    <a href="">Collusion Add-On</a><br/>
                    <a href="/new/about">About Us</a><br/>
                    <a href="http://www.mozilla.org/en-US/privacy/" target="_blank">Privacy Policy</a>
                </div>
            </div>
            <div class="span2">
                <div class="row">
                    <h5>RESOURCES</h5>
                </div>
                <div class="row">
                    <a href="/new/database">Collusion Database</a><br/>
                </div>
            </div>
        </div>
    </div>
</div>