<div class="collusion-nav-bar navbar-fixed-top">
    <div class="container">
        <ul class="collusion-nav-inner text-center row">
            <li id="databasePage" class="span2"><a href="/new/database">DATABASE</a></li>
            <li id="downloadPage" class="span2"><a href="https://addons.mozilla.org/en-us/firefox/addon/collusion/" target="_blank">DOWNLOAD ADD-ON</a></li>
            <li id="indexPage" class="span4">
                <a href="/new" id="collusion-triangle">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="170" width="310">
                        <polygon points="0,0 150,150 300,0" style="fill:#269FD1;"/>
                        <polygon points="10,0 150,140 290,0" style="fill:#46C3E5;"/>
                        <polygon points="150,0 150,140 290,0" style="fill:#2FB4DE;"/>
                        <text x="75" y="60" fill="#fff" class="collusion-text text-center" style="font-size: 45px">COLLUSION</text>
                    </svg>
                </a>
            </li>
            <li id="aboutPage" class="span2"><a href="/new/about">ABOUT</a></li>
            <li id="newsPage" class="span2"><a href="/new/news">NEWS</a></li>
        </ul>
    </div>
</div>