<div class="lightbeam-nav-bar">
    <div class="container">
        <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
        <ul class="lightbeam-nav-inner row">
            <div class="left">
                <li id="indexPage" class="span2">
                    <a href="/new" id="lightbeam-logo">LOGO<br/>link: Home
                    </a>
                </li>
            </div>
            <div class="right">
                <li id="aboutPage" class="right"><a href="/new/about">ABOUT</a></li>
                <li id="databasePage" class="right"><a href="/new/database">DATABASE</a></li>
            </div>
        </ul>
    </div>
</div>