        <div class="section-container second-section white-bg">
            <div class="container">
                <div class="row subsection">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <h4><span class="blue-text all-cap">Connected to {{#if connectionList}} {{connectionList.length}} {{/if}} WEBSITES</span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <div class="inline-label grey-text">SORT BY:</div> 
                                <div class="sortingOptions"> 
                                    <a href="">connections</a> |  
                                    <a href="">alphabetically</a>
                                    <br/>
                                </div>
                            </div>
                            <div class="span4">
                                <input type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <table class="website-list-table">
                                    <tr>
                                        <th style="width: 50%">WEBSITE</th>
                                        <th style="width: 50%">CONNECTIONS BETWEEN {{site}}</th>
                                    </tr>
                                {{#if connectionList}}
                                    {{#renderList connectionList}}
                                     <tr data-url="/new/profileNew/{{{connectedSite}}}">
                                        <td>{{connectedSite}}</td>
                                        <td>{{numConnections}}</td>
                                    </tr>
                                    {{/renderList}}
                                {{/if}}
                                </table>
                            </div>
                            <div class="span4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>