        <div class="section-container second-section white-bg">
            <div class="container">
                <div class="row subsection">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <h1>Lightbeam Website Database</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <div class="inline-label grey-text">SORT BY:</div> 
                                <div class="sorting-options">
                                    <a data-sort="alphabetically">alphabetically</a>  | 
                                    <a data-sort="siteConnected" data-selected>sites connected</a> | 
                                    <a data-sort="connections">connections</a>
                                    <br/>
                                </div>
                                <div>viewing
                                    <span class="row-start"></span> - <span class="row-end"></span> of <span class="num-sites"></span> sites <i><span class="site"></span></i> 
                                </div>
                                <div class="pagination">
                                </div>
                            </div>
                            <div class="span4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <table class="website-list-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 60%">WEBSITE</th>
                                            <th style="width: 20%">UNIQUE SITES CONNECTED</th>
                                            <th style="width: 20%">CONNECTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                    </tbody>
                                </table>
                                <div>
                                    Data shown above is based on connections initiated in the past <span id="webiste-list-time-range"></span>  hours.
                                </div>
                            </div>
                            <div class="span4">
                                <table class="top-sites-table">
                                    <caption>TOP 10</caption>
                                    <thead>
                                        <tr>
                                            <th style="width: 10%"></th>
                                            <th style="width: 90%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                    </tbody>
                                </table>
                                <div>
                                    Data shown above is based on connections initiated in the past <span id="top-list-time-range"></span>  hours.
                                </div>
                                <br/>
                                <div>
                                    Rankings are based on data provided by users of Lightbeam for Firefox. Additional data may alter these rankings over time, so check back often.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>