        <div class="section-container second-section white-bg">
            <div class="container">
                <div class="row subsection">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <h4 class="blue-text all-cap">Connected to <span class="num-connected"></span> websites</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <div class="inline-label grey-text">SORT BY:</div> 
                                <div class="sorting-options"> 
                                    <a data-sort="alphabetically">alphabetically</a> | 
                                    <a data-sort="connections" data-selected>connections</a>
                                    <br/>
                                </div>
                                <div class="pagination">
                                </div>
                            </div>
                            <div class="span4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <table class="website-list-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%">WEBSITE</th>
                                            <th style="width: 50%">CONNECTIONS BETWEEN <br/><span class="site"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>