                <div class="row subsection">
                    <div class="span8">
                        <div class="row">
                            <div class="span8">
                                <h4 class="blue-text all-cap"><span class="num-sites"></span> connected websites</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <div class="inline-label grey-text">SORT BY:</div> 
                                <div class="sorting-options"> 
                                    <a data-sort="alphabetically">alphabetically</a> | 
                                    <a data-sort="connections" data-selected>connections</a>
                                    <br/>
                                </div>
                                <div>viewing
                                    <span class="row-start"></span> - <span class="row-end"></span> of <span class="num-sites"></span> sites connected to <i><span class="site"></span></i> 
                                </div>
                                <div class="pagination">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <table class="website-list-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%">WEBSITE</th>
                                            <th style="width: 50%">CONNECTIONS BETWEEN <br/><span class="site"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                        <tr><td>&nbsp;</td></tr>
                                    </tbody>
                                </table>
                                <div>
                                    Data shown above is based on connections initiated in the past <span id="webiste-list-time-range"></span>  hours.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>