<!-- Begin webmaker nav -->
<a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
<div id="webmakerNavContainer">
    <div data-webmaker-nav-role="webmaker-info">
        This content will appear on the right side of the content of the
        Webmaker tab.
    </div>
    <div data-webmaker-nav-role="join-tooltip">
        <div class="wm-unit">
            <h3>Log in to my awesome app to do awesome stuff!</h3>
            <div class="wm-unit-side">
                <img src="">
                    </div>
            <div class="wm-unit-body">
                <p>Don't have an account yet? All you need is an email to get started. Webmaker uses <strong>Persona</strong>, which puts you in control of your identity through a single email address of your choice.</p>
            </div>
        </div>
    </div>
</div>
<!-- / webmaker nav -->