<!DOCTYPE html>
<html>
	<head>
		<title>Collusion Website</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
		<link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
		<link rel="stylesheet" href="/styles/PathwayGothicOne-Regular.css" type="text/css" />
		<link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
	</head>
	<body>
		{{> navBar }}
		<!-- First Section ============================== -->
		<div class="section-container first-section dark-grey-bg">
            <div class="container">
                <div class="row">
                    <div class="span12 temp-placeholder" style="height: 400px">
                    </div>
                </div>
                <div class="row">
                    <div class="span12 text-center">
                        <div class="page-slogan">About Collusion</div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2 offset5">
                        <div class="blue-divider" style="width: 180px" ></div>
                    </div>
                </div>
            </div>
        </div>
		<!-- End First Section -->
		<!-- Second Section ============================== -->
		<div class="section-container second-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>How the Add-on Works</h2>
						<p>
							Collusion visualizes online tracking behavior to allow the general public as well as privacy advocates to see who is tracking their movements across the Web. The Collusion Add-on enable individual users to see who tracks them in real time. 
						</p>
						<p>
							The Graph visualization helps show relationships across the web with adjustable filters that the user can control to visualize more types of data at a glance. The Clock visualization allows people to explore their own personal internet browsing history across the day. The List visualization is a simple tool for exploring the data collected by Collusion. 
						</p>
						<p>
							More site connection information is presented on the info panel on the right which shows more detailed information about the site, including what country it is registered in and what sites it has connected to or been connected from during the time period visualized.
						</p>
						<p>
							Collusion has site preferences which enable users to block sites from connecting to their Firefox browser,  watch sites they are interested in or hide sites they do not want to see visualized.
						</p>
						<p>
							
						</p>
					</div>
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
				</div>
			</div>
		</div>
		<!-- End Second Section -->
		<!-- Third Section ============================== -->
		<div class="section-container third-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
					<div class="span4">
						<h2>The Origins of Collusion</h2>
						<p>
							In July 2011, Collusion began as a personal project by Atul Varma to help visualize tracking. After being inspired from the book, The Filter Bubble, he created this experimental add-on visualizes your browsing behaviour and data collection. In February 2012, Gary Kovacs gave a TED talk that introduced this add-on that exposes online tracking. Starting in September 2012, Mozilla collaborated with the SIM Centre to work with Emily Carr University of Art + Design students to further develop visualizations for the add-on. Over the past year, with the support of the Ford Foundation, the first version of Collusion will be launched in August 2013.  
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Third Section -->
		<!-- Fourth Section ============================== -->
		<div class="section-container fourth-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>Policy and the Larger Tracking Narrative</h2>
						<p>
							We aim to promote research further in the field of online tracking and privacy. We believing giving people the tools to begin making their own decisions about tracking and their online privacy while at the same time provides a valuable (and open) community research platform to reveal online tracking patterns to those who are likely to affect new standards of online privacy in the near term. We believe that the Add-on and the Collusion data server together make up an effective strategy to raise awareness regarding tracking behavior and ultimately may contribute to changing policy. Collusion will be a step in a larger, concerted effort by Mozilla and its partners to provide users with greater control of their personal data.

						</p>
					</div>
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
				</div>
			</div>
		</div>
		<!-- End Fourth Section -->
		<!-- Fifth Section ============================== -->
		<div class="section-container fifth-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
					<div class="span4">
						<h2>Learn More about Online Tracking and Privacy</h2>
						<p>
							The larger Mozilla community sees the growing relevance of online privacy and is supporting several initiatives that tackle the issue in various ways.
						</p>
						<p>
							<a href="stopwatching.us" target="_blank">stopwatching.us</a></br>
							<a href="www.mozilla.org/en-US/dnt/" target="_blank">www.mozilla.org/en-US/dnt/</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Fifth Section -->
		<!-- Sixth Section ============================== -->
		<div class="section-container sixth-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>FAQ</h2>
						<p>
							What are third party sites? What are Cookies?
						</p>
						<p>
							How does Collusion collect my data?
						</p>
						<p>
							How does Collusion create these graphs with my data?
						</p>
					</div>
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
				</div>
			</div>
		</div>
		<!-- End Sixth Section -->
		<!-- Seventh Section ============================== -->
		<div class="section-container seventh-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2>Partners of Collusion</h2>
					</div>
				</div>
				<div class="row">
					<div class="span4 text-center">
						<h4>Ford Foundation</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
						<p class="text-left"> 
							The <a href="http://www.fordfoundation.org/" target="_blank">Ford Foundatio</a> is a Non Profit Organization that focuses on the mission of advancing human welfare. They are interested in providing support for organizations devoted to strengthening democratic values, reducing poverty and social injustice, supporting human achievement and international cooperation.
						</p>
					</div>
					<div class="span4 text-center">
						<h4>Mozilla</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
						<p class="text-left"> 
							The <a href="http://www.mozilla.org/en-US/foundation/" target="_blank">Mozilla Foundation</a> is a non-profit organization that promotes openness, innovation and participation on the Internet. We promote the values of an open Internet to the broader world.
						</p>
					</div>
					<div class="span4 text-center">
						<h4>SIM Centre</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
						<p class="text-left"> 
							The <a href="http://www.simcentre.ca/" target="_blank">Social + Interactive Media Centre</a> supports a wide range of applied social, interactive and design projects. The Centre's research program engages BC companies to collaborate with Emily Carr University of Art + Design to uncover new ways to use social technologies and tackle interactive design challenges.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Seven Section -->
		{{> firstFooter}}
		{{> footer}}
		<script src="/js/ui.js"></script>
		<script>
			 document.querySelector("ul.collusion-nav-inner li#aboutPage").classList.add("active");
		</script>
	</body>
</html>