<!DOCTYPE html>
<html>
	<head>
		<title>Collusion Website</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
		<link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
		<link rel="stylesheet" href="/styles/PathwayGothicOne-Regular.css" type="text/css" />
		<link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
	</head>
	<body>
		{{> navBar }}
		<!-- First Section ============================== -->
		<div class="section-container first-section dark-grey-bg">
            <div class="container">
                <div class="row">
                    <div class="span12 temp-placeholder" style="height: 400px">
                    </div>
                </div>
                <div class="row">
                    <div class="span12 text-center">
                        <div class="page-slogan">About Collusion</div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2 offset5">
                        <div class="blue-divider" style="width: 180px" ></div>
                    </div>
                </div>
            </div>
        </div>
		<!-- End First Section -->
		<!-- Second Section ============================== -->
		<div class="section-container second-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>How the Add-on Works</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis. Ut ac lacinia nibh. Suspendisse ac eleifend enim. Donec ornare, metus eu suscipit tempor, nisl leo bibendum quam, ac fermentum eros est a mi. Praesent a erat a erat viverra tincidunt ac eget massa. Mauris eros sapien, pulvinar vel orci nec, feugiat aliquam enim. Nunc hendrerit et felis sit amet accumsan. Proin vestibulum a orci ac tincidunt. In fermentum auctor interdum. Integer tristique facilisis aliquet. Aenean placerat, purus in rutrum consequat, elit ante semper est, vitae iaculis metus enim in orci...<a href=""> >> some link</a>
						</p>
					</div>
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
				</div>
			</div>
		</div>
		<!-- End Second Section -->
		<!-- Third Section ============================== -->
		<div class="section-container third-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
					<div class="span4">
						<h2>The Origins of Collusion</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis. Ut ac lacinia nibh. Suspendisse ac eleifend enim. Donec ornare, metus eu suscipit tempor, nisl leo bibendum quam, ac fermentum eros est a mi. Praesent a erat a erat viverra tincidunt ac eget massa. Mauris eros sapien, pulvinar vel orci nec, feugiat aliquam enim. Nunc hendrerit et felis sit amet accumsan. Proin vestibulum a orci ac tincidunt. In fermentum auctor interdum. Integer tristique facilisis aliquet. Aenean placerat, purus in rutrum consequat, elit ante semper est, vitae iaculis metus enim in orci...
						<a href=""> >> some link</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Third Section -->
		<!-- Fourth Section ============================== -->
		<div class="section-container fourth-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>Policy and the Larger Tracking Narrative</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis. Ut ac lacinia nibh. Suspendisse ac eleifend enim. Donec ornare, metus eu suscipit tempor, nisl leo bibendum quam, ac fermentum eros est a mi. Praesent a erat a erat viverra tincidunt ac eget massa. Mauris eros sapien, pulvinar vel orci nec, feugiat aliquam enim. Nunc hendrerit et felis sit amet accumsan. Proin vestibulum a orci ac tincidunt. In fermentum auctor interdum. Integer tristique facilisis aliquet. Aenean placerat, purus in rutrum consequat, elit ante semper est, vitae iaculis metus enim in orci... <a href=""> >> some link</a>
						</p>
					</div>
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
				</div>
			</div>
		</div>
		<!-- End Fourth Section -->
		<!-- Fifth Section ============================== -->
		<div class="section-container fifth-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
					<div class="span4">
						<h2>Learn More about Online Tracking and Privacy</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis. Ut ac lacinia nibh. Suspendisse ac eleifend enim. Donec ornare, metus eu suscipit tempor, nisl leo bibendum quam, ac fermentum eros est a mi. Praesent a erat a erat viverra tincidunt ac eget massa. Mauris eros sapien, pulvinar vel orci nec, feugiat aliquam enim. Nunc hendrerit et felis sit amet accumsan. Proin vestibulum a orci ac tincidunt. In fermentum auctor interdum. Integer tristique facilisis aliquet. Aenean placerat, purus in rutrum consequat, elit ante semper est, vitae iaculis metus enim in orci...
						<a href=""> >> some link</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Fifth Section -->
		<!-- Sixth Section ============================== -->
		<div class="section-container sixth-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h2>FAQ</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis. Ut ac lacinia nibh. Suspendisse ac eleifend enim. Donec ornare, metus eu suscipit tempor, nisl leo bibendum quam, ac fermentum eros est a mi. Praesent a erat a erat viverra tincidunt ac eget massa. Mauris eros sapien, pulvinar vel orci nec, feugiat aliquam enim. Nunc hendrerit et felis sit amet accumsan. Proin vestibulum a orci ac tincidunt. In fermentum auctor interdum. Integer tristique facilisis aliquet. Aenean placerat, purus in rutrum consequat, elit ante semper est, vitae iaculis metus enim in orci... <a href=""> >> some link</a>
						</p>
					</div>
					<div class="span8 temp-placeholder" style="height: 300px">
					</div>
				</div>
			</div>
		</div>
		<!-- End Sixth Section -->
		<!-- Seventh Section ============================== -->
		<div class="section-container seventh-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h2>Partners of Collusion</h2>
					</div>
				</div>
				<div class="row">
					<div class="span4 text-center">
						<h4>Ford Foundation</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
					</div>
					<div class="span4 text-center">
						<h4>Mozilla</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
					</div>
					<div class="span4 text-center">
						<h4>SIM Centre</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Seven Section -->
		{{> firstFooter}}
		{{> footer}}
		<script src="/js/ui.js"></script>
		<script>
			 document.querySelector("ul.nav li#aboutPage").classList.add("active");
		</script>
	</body>
</html>