<!DOCTYPE html>
<html>
    {{> header }}

    <body>
        <div id="outer-wrapper">
            {{> webmakerNav }}
            <div id="wrapper">
                <div class="header">
                    <div class="container">
                        <a href="/" class="collusion-logo"><span class="collusion-label">Collusion</span> directory</a>
                    </div>
                </div>
                <div class="container">
                <!-- ========================= Left Column ========================= -->
                    <div class="left-column">
                        <!-- === Top 50 Websites === -->
                        <section class="section-box">
                            <h4>"Top 50" Websites</h4>
                            {{! only output this if an profileThumb exists }}
                            {{#if websites}}
                            {{#profileThumb websites}}
                            <a href="{{{url}}}" class="profile-thumb">
                                <div>
                                    <img onerror="this.src='/images/transparent_favicon_placeholder.png'" src="{{{faviconUrl}}}">
                                        <b>{{infoUrl}}</b>
                                        <br/>
                                        # of connections: {{infoLine1}}<br/>
                                        Site type: {{infoLine2}}
                                </div>
                            </a>
                            {{/profileThumb}}
                            {{/if}}
                        </section>
                    </div>
                <!-- ========================= Right Column ========================= -->
                    <div class="right-column">
                        <section class="search-section">
                            <header class="section-header">Search</header>
                            <form class="search-form" action="/search" method="get">
                                <input type="text" size=40 />
                        </section>
                        <section class="explain-section">
                            <header class="section-header">What is a third party connection?</header>
                            abcdefg 123 ABCDE abcdefg 123 ABCDE abcdefg 123 ABCDE abcdefg 123 ABCDE abcdefg 123 ABCDE abcdefg 123 ABCDE abcdefg 123 ABCDE abcdefg 123 ABCDE
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <!-- <div id="modal-overlay"> not sure if we should have this</div> -->
        </div>

        <script src="/js/require.js"></script>
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/webmakerNav.js"></script>

    </body>

</html>
















