<!DOCTYPE html>
<html style="background:#373737;">
    <link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
    <link rel="stylesheet" href="/styles/sandstone.css" type="text/css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>Collusion counter - Development</title>
    <body style="background:#373737;">
    
        <div class="dashboard">
            <div class="d-left">
                <div class="d-l1">
                    <div class="d-l1-t"><header>COLLUSION</header></div>
                    <div class="d-l1-b">
                        <div style="float: left; width: 70%; border-top: 1px solid #fff; color: #0FB1C2; padding-top: 15px">Stay up to date with our statistics and keep track of the trackers!</div>
                        <div style="float: left; width: 30%; text-align: right;font-size: 50px; line-height: 30px"><i><b>counter</b></i></div>
                    </div>
                </div>
                <div class="d-l2">
                    <div class="d-l2-l">
                        <div class="uniqueUsersUpload" style="font-size: 50px">{{uniqueUsersUpload}}</div>
                        <div>PEOPLE</div>
                        <div class="d-transparent-text">have uploaded data ever</div>
                        <div class="d-transparent-text d-italics">since <span class="uniqueUsersUploadSince">{{uniqueUsersUploadSince}}</span></div>
                    </div>
                    <div class="d-l2-r">
                        <div class="uniqueUsersUploadToday" style="font-size: 50px">{{uniqueUsersUploadToday}}</div>
                        <div>PEOPLE</div>
                        <div class="d-transparent-text">have uploaded data today</div>
                        <div class="d-transparent-text d-italics">on {{today}}</div>
                    </div>
                </div>
                <div class="d-l3">
                    <div class="d-l3-l">
                        <div class="totalConnectionsEver" style="font-size: 30px">{{totalConnectionsEver}}</div>
                        <div style="margin-bottom: 10px">CONNECTIONS</div>
                        <div class="d-transparent-text">are stored in total database</div>
                        <div class="d-transparent-text d-italics">since <span class="uniqueUsersUploadSince">{{uniqueUsersUploadSince}}</span></div>
                    </div>
                    <div class="d-l3-r">
                        <div class="totalConnectionsToday" style="font-size: 30px">{{totalConnectionsToday}}</div>
                        <div style="margin-bottom: 10px">CONNECTIONS</div>
                        <div class="d-transparent-text">are uploaded today</div>
                        <div class="d-transparent-text d-italics">on {{today}}</div>
                    </div>
                </div>
            </div>
            <div class="d-right">
                <div class="d-r1">
                    <div style="border-bottom: 1px solid white;">
                        <div style="float: left;font-size: 42px; line-height: 40px; padding-bottom: 5px">TOP 10</div>
                        <div style="float: left; padding-left: 10px;">
                            POTENTIAL<br/>
                            TRACKERS<br/>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div>
                        {{#if trackersArray}}
                            <ul class="d-trackers-list">
                                {{#renderList trackersArray}}
                                <li>
                                    <div class='d-tracker-site'>{{site}}</div>
                                    <div class='d-tracker-sources'>{{numSources}}</div>
                                    <div class='d-tracker-connections'><span>{{numConnections}}</span> CONNECTIONS</div>
                                </li>
                                {{/renderList}}
                            </ul>
                        {{/if}}
                        
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/collusion.js"></script>
        <script>
            $(".uniqueUsersUpload").each(function(i,item){
                addCommasToNumber(item);
            });
            
            $(".uniqueUsersUploadToday").each(function(i,item){
                addCommasToNumber(item);
            });
            
            $(".totalConnectionsEver").each(function(i,item){
                addCommasToNumber(item);
            });
            
            $(".totalConnectionsToday").each(function(i,item){
                addCommasToNumber(item);
            });
            
            function addCommasToNumber(elm){
                console.log(elm);
                $(elm).html( $(elm).text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") );
            }
            
            setTimeout("location.reload(true);", 10 * 60 * 1000); // auto-refresh every 10 mins
        </script>

    </body>

</html>


                                    