<!DOCTYPE html>
<html>
    <head>
        <title>Lightbeam Website</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
        <link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
        <link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
        <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
    </head>
    <body class="database">
        {{> navBar }}
        <!-- First Section ============================== -->
        <div class="section-container first-section light-blue-bg">
            <div class="container">
                <div class="row">
                    <div class="span12 temp-placeholder" style="height: 400px">
                    </div>
                </div>
                <div class="row">
                    <div class="span12 text-center">
                        <h3 class="page-slogan">Your Donated Data</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 offset3 text-center">
                        The data that you contribute to Lightbeam helps us generate a larger understanding of how they interact as a collective in the online space.
                    </div>
                </div>
            </div>
        </div>
        <!-- End First Section -->
        <!-- Second Section ============================== -->
        {{> tableAllSites }}
        <!-- End Second Section -->
        {{> firstFooter}}
        {{> footer}}
        <div id="loading">
            <div>
                <img src="/images/loader.gif" alt="Loading..." /><br/>
                <span>LOADING...</span>
            </div>
        </div>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
        <script>var databaseURL = "{{{databaseURL}}}";</script>
        <script src="/js/ui.js"></script>
    </body>
</html>