<!DOCTYPE html>
<html>
	<head>
		<title>Lightbeam Website</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
		<link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
		<link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
		<link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
	</head>
	<body>
		{{> navBar }}
		<!-- First Section ============================== -->
		<div class="section-container first-section light-blue-bg">
			<div class="container">
				<div class="row">
					<div class="span12 middle lightbeam-header">
						<header class="large">Lightbeam</header>
						<h4>Discover who is tracking you online</h4>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span4">
								<h1>Discover who is tracking you online</h1>
								<p>Lightbeam is an add-on for Firefox and allows you to see all the third parties that are tracking your movements across the Web.  It will show, in real time, the interaction between companies and other trackers with various visualizaitons.</p>
								<br/>
							</div>
							<div class="span8 temp-placeholder text-center" style="height: 300px; line-height: 300px; color: white">Demo Video</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End First Section -->
		<!-- Second Section ============================== -->
		<div class="section-container second-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span3 text-center">
						<div class="temp-placeholder square"></div>
						You download and run the Lightbeam add-on in your Firefox browser.
					</div>
					<div class="span3 text-center">
						<div class="temp-placeholder square"></div>
						Whenever you visit a website, and that site notifies a third party, Lightbeam makes an de-identified record of this event.
					</div>
					<div class="span3 text-center">
						<div class="temp-placeholder square"></div>
						Lightbeam visually graphs these events to highlight the interactions between sites you intentionally visit and the third parties that load without your consent.
					</div>
					<div class="span3 text-center">
						<div class="temp-placeholder square"></div>
						Lightbeam will continue to add to your graph as you browse the web.  You can stop Lightbeam at any time by disabling it or uninstalling the add-on.  Your personal data can be easily saved or deleted.
					</div>
				</div>
			</div>
		</div>
		<!-- End Second Section -->
		<!-- Third Section ============================== -->
		<div class="section-container third-section light-blue-bg">
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<h3 class="page-slogan">How Lightbeam Works</h3>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<div class="text-center"><img src="images/test1.png"></div>
						<h4 class="text-center">Explore Visualization</h4>
						<p>
							Download the add-on to your Firefox browser. Open the add-on to see the various visualizations of your browsing being tracked by third parties.
						</p>
					</div>
					<div class="span4">
						<div class="text-center"><img src="images/test2.png"></div>
						<h4 class="text-center">Analyze the Trackers</h4>
						<p>
							As you view the visualizations that update in real-time, you can explore and analyze the website and connections that have connected to you that are stored in your data.
						</p>
					</div>
					<div class="span4">
						<div class="text-center"><img src="images/test3.png"></div>
						<h4 class="text-center">Contribute Data</h4>
						<p>
							You can reset or save your data as a .json file to make your own visualizations. You can donate your de-identified data to our database to further promote research in the field of online tracking and privacy.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Third Section -->
		<!-- Fourth Section ============================== -->
		<div class="section-container fourth-section white-bg">
			<div class="container">
				<div class="row subsection">
					<div class="span4">
						<img src="images/ceo-ff.png" class="round-corner" style="width: 100%" />
					</div>
					<div class="span8">
						<h2>Tracking & Privacy</h2>
						<p>
							Not all tracking is bad.  Many services rely on user data to provide relevant content and enhance your online experience.  But most tracking happens without users' consent and without their knowledge.  That's not okay.  It should be you who decides when , how and if you want to be tracked.  We recognize the importance of transparency and our mission is all about empowering users -- both with tools and with information. <a href="/new/about"> >> Go to About</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Fourth Section -->
		<!-- Fifth Section ============================== -->
		<div class="section-container fifth-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span6">
						<h2>Explore the Database</h2>
						<p>Browse first and third-party connection data uploaded by de-identified data donors that use the Lightbeam add-on.  W're building this crowd-sourced directory to encourage users to visualize the state of tracking on the web as an aggregate and see relationships that exist on the web. 
						<a href="/new/database"> >> Go to Database</a>
						</p>
					</div>
					<div class="span6">
						<img src="images/Collusion-table.jpg" class="round-corner" />
					</div>
				</div>
			</div>
		</div>
		<!-- End Fifth Section -->
		{{> firstFooter}}
		{{> footer}}
		<script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
		<script src="/js/ui.js"></script>
	</body>
</html>