<!DOCTYPE html>
<html>
    {{> header }}
  
    <body>
        
        <div id="outer-wrapper">
            {{> webmakerNav }}
            <div id="wrapper">
                <div class="header">
                    <div class="container">
                        <a href="/" class="collusion-logo"><span class="collusion-label">Collusion</span> directory</a>
                    </div>
                </div>
                <div class="container">
                <!-- ========================= Left Column ========================= -->
                    <div class="left-column">
                        <section class="data-section">
                            <h4>The data</h4>
                            <p>Browse third-party connections data uploaded by anonymous data donors. Browse third-party connections data uploaded by anonymous data donors. Browse third-party connections data uploaded by anonymous data donors.
                            </p>
                            <a href="/browseData" class="button">Browse the data</a>
                            <img src="/images/visualization_carousel.png" style="margin-top: 30px; width: 780px">
                        </section>
                        <section class="blog-section">
                            <h6>BLOG</h6>
                            <header>
                                Happy Privacy Day! An Update from the Collusion Visualization Design Team
                            </header>
                            <p>January 28, 2013</p>
                            <p>For the past several months, I have been leading a design team at Emily Carr and Mozilla with Mozilla's Collusion lead developer Dethe Elza to develop an interactive visualization layer for the Firefox Collusion Add-on. We're taking this opportunity on Data Privacy Day to give a progress report on the new design for Collusion visualization interface, especially since Mozilla has been named the Most Trusted Internet Company for Privacy in 2012.</p>

                            <p>Our goals are to make it easy for people to make sense of their own browsing data, expose relationships between websites and third parties - which normally remain hidden - and ultimately give people the tools to make their own decisions about their online privacy.</p>

                            <p>Toward these goals, we are adopting three main design approaches that will engage users who have various levels of technical knowledge and interest in privacy issues. The first approach engages people with little technical knowledge by giving them a tool to view and explore their own personal internet browsing history. The second will enable those already knowledgeable about privacy issues to find relationships, patterns and trends among trackers and the web sites that enable them. The third will let  users act on what they find in the Collusion data in real time. Together these three interfaces will empower users to take control over their own online privacy and perhaps take a step towards changing our expectations and policies toward how and when people track us across the Web.</p>

                            <p>We look forward to hearing your feedback. You can contact me @amberfj on Twitter or Dethe @dethe.</p>
                        </section>
                    </div>
                <!-- ========================= Right Column ========================= -->
                    <div class="right-column">
                        <section class="get-involved-section">
                            <header class="section-header">Get involved</header>
                            <div class="subsection">
                                <i class="icon-eye-open subsection-icon"></i>
                                <div>
                                    <header>Try the browser add-on</header>
                                    Surface information about your tracking and browsing habits by using the Firefox addon<br/>
                                    <a href="https://addons.mozilla.org/en-us/firefox/addon/collusion/" class="button-blue"><i class="icon-download"></i>Download now</a>
                                </div>
                            </div>
                            <div class="subsection">
                                <i class="icon-upload subsection-icon"></i>
                                <div>
                                    <header>Donate data</header>
                                    If you're using Collusion already, you can submit data anonymously to help build our database about trackers.
                                    <!--<button class="donate-data">(Temporary) Donate data button</button>-->
                                </div>
                            </div>
                            <div class="subsection">
                                <i class="icon-edit subsection-icon"></i>
                                <div>
                                    <header>Edit a tracker profile</header>
                                    If you're using Collusion already, you can submit data anonymously to help build our database about trackers.
                                </div>
                            </div>
                        </section>
                        <section class="feed-section">
                            <header class="section-header">Community Feed</header>
                            <ul>
                              <li>xxx donated anonymous data.</li>
                              <li>yyy got a first-donor achievement.</li>
                              <li>zzz edited Facebook's tracker profile.</li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <!-- <div id="modal-overlay"> not sure if we should have this</div> -->
        </div>
      
        <script src="/js/require.js"></script>
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script>
            $(".donate-data").click(function(){
                $.post("/donate");
            });
          
            // GET TEST
            $.ajax({
              type: "GET",
              url: "http://collusiondb-development.herokuapp.com/getData",
              data: {
                dateSince: "2013-02-27"
              },
              success: function(data, textStatus, jqXHR){
                console.log(Object.keys(data));
                console.log();
                console.log(data);
              },
              dataType: "jsonp",
              crossDomain: true
            });
             
             
        </script>
        <script src="/js/webmakerNav.js"></script>
      
      
    </body>

</html>

