<!DOCTYPE html>
<html>
	<head>
		<title>Collusion Website</title>
		<link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
		<link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
		<link rel="stylesheet" href="/styles/PathwayGothicOne-Regular.css" type="text/css" />
		<link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
	</head>
	<body>
		<a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
		{{> navBar }}
		<!-- First Section ============================== -->
		<div class="section-container first-section dark-grey-bg">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span4">
								<h1>Discover who is tracking you online</h1>
								<p>Collusion is an add-on for Firefox and allows you to see all the third parties that are tracking your movements across the Web.  It will show, in real time, the interaction between companies and other trackers with various visualizaitons.</p>
								<br/>
							    <a href="https://addons.mozilla.org/en-us/firefox/addon/collusion/" target="_blank"><button class="btn yellow-btn">DOWNLOAD</button></a>
							</div>
							<div class="span8 temp-placeholder" style="height: 300px"></div>
						</div>
						<div class="row">
		                    <div class="span12 text-center">
		                        <div class="page-slogan">MAKING THE INVISIBLE VISIBLE</div>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="span2 offset5">
		                        <div class="blue-divider" style="width: 180px" ></div>
		                    </div>
		                </div>
					</div>
				</div>
			</div>
		</div>
		<!-- End First Section -->
		<!-- Second Section ============================== -->
		<div class="section-container second-section white-bg">
			<div class="container">
				<div class="row">
					<div class="span8 temp-placeholder" style="height: 200px">
					</div>
					<div class="span4">
						<h2>Explore the Database</h2>
						<p>Browse first and third-party connection data uploaded by de-identified data donors that use the Collusion add-on.  W're building this crowd-sourced directory to encourage users to visualize the state of tracking on the web as an aggregate and see relationships that exist on the web. 
						<a href=""> >> Go to Database</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Second Section -->
		<!-- Third Section ============================== -->
		<div class="section-container third-section blue-bg">
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<div class="page-slogan">------------------------- HOW COLLUSION WORKS -------------------------</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<div class="text-center"><img src="images/test1.png"></div>
						<h4 class="text-center">EXPLORE VISUALIZATION</h4>
						<p>
							Download the add-on to your Firefox browser. Open the add-on to see the various visualizations of your browsing being tracked by third parties.
						</p>
					</div>
					<div class="span4">
						<div class="text-center"><img src="images/test2.png"></div>
						<h4 class="text-center">ANALYZE THE TRACKERS</h4>
						<p>
							As you view the visualizations that update in real-time, you can explore and analyze the website and connections that have connected to you that are stored in your data.
						</p>
					</div>
					<div class="span4">
						<div class="text-center"><img src="images/test3.png"></div>
						<h4 class="text-center">CONTRIBUTE DATA</h4>
						<p>
							You can reset or save your data as a .json file to make your own visualizations. You can donate your de-identified data to our database to further promote research in the field of online tracking and privacy.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Third Section -->
		<!-- Fourth Section ============================== -->
		<div class="section-container fourth-section white-bg">
			<div class="container">
				<div class="row subsection">
					<div class="span4">
						<h2>Tracking & Privacy</h2>
						<p>
							Not all tracking is bad.  Many services rely on user data to provide relevant content and enhance your online experience.  But most tracking happens without users' consent and without their knowledge.  That's not okay.  It should be you who decides when , how and if you want to be tracked.  We recognize the importance of transparency and our mission is all about empowering users -- both with tools and with information. <a href=""> >> Go to About</a>
						</p>
					</div>
					<div class="span8 temp-placeholder" style="height: 250px">
					</div>
				</div>
				<div class="row subsection">
					<div class="span4 text-center">
						<h4>COLLUSION NEWS</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
					</div>
					<div class="span4 text-center">
						<h4>LEARN ABOUT PRIVACY</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
					</div>
					<div class="span4 text-center">
						<h4>GET INVOLVED</h4>
						<div class="temp-placeholder" style="height: 100px"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Fourth Section -->
		{{> firstFooter}}
		{{> footer}}
		<script src="/js/ui.js"></script>
		<script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
	</body>
</html>