<!DOCTYPE html>
<html>
    {{> header }}
  
    <body>
        
        <div id="outer-wrapper">
            <div id="wrapper">
                <div class="header">
                    <div class="container">
                        <a href="/" class="collusion-logo"><span class="collusion-label">Collusion</span> directory</a>
                    </div>
                </div>
                <div class="container">
                <!-- ========================= Left Column ========================= -->
                    <div class="left-column">
                        <section class="data-section">
                            <h4>The data</h4>
                            <p>Browse third-party connections data uploaded by de-identified data donors. Browse third-party connections data uploaded by de-identified data donors. Browse third-party connections data uploaded by de-identified data donors.
                            </p>
                            <a href="/browseData" class="button">Browse the data</a>
                            <img src="/images/visualization_carousel.png" style="margin-top: 30px; width: 780px">
                        </section>
                        <section class="blog-section">
                            <h6>BLOG</h6>
                            {{#if blogPosts}}
                                {{#renderList blogPosts}}
                                <div class="blog-post">
                                    <div class="blog-pubDate">{{{pubDate}}}</div>
                                    <div class="blog-title"><a href="{{{link}}}">{{{title}}}</a></div>
                                    <div class="blog-description">{{{description}}}</div>
                                </div>
                                {{/renderList}}
                            {{/if}}
                                            </section>
                    </div>
                <!-- ========================= Right Column ========================= -->
                    <div class="right-column">
                        <section class="get-involved-section">
                            <header class="section-header">Get involved</header>
                            <div class="subsection">
                                <i class="icon-eye-open subsection-icon"></i>
                                <div>
                                    <header>Try the browser add-on</header>
                                    Surface information about your tracking and browsing habits by using the Firefox addon<br/>
                                    <a href="https://addons.mozilla.org/en-us/firefox/addon/collusion/" class="button-blue"><i class="icon-download"></i>Download now</a>
                                </div>
                            </div>
                            <div class="subsection">
                                <i class="icon-upload subsection-icon"></i>
                                <div>
                                    <header>Donate data</header>
                                    If you're using Collusion already, you can submit data to help build our database about trackers.  The data you submit will be de-identified.
                                    <!--<button class="donate-data">(Temporary) Donate data button</button>-->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- <div id="modal-overlay"> not sure if we should have this</div> -->
        </div>
      
        <script src="/js/jquery-1.9.1.min.js"></script>
      
      
    </body>

</html>

