<!DOCTYPE html>
<html style="background:#171E25;">
	<head>
		<link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
	    <title>Lightbeam counter - Development</title>
	</head>
    <body style="background:#171E25; text-align:center; font-family: 'Open Sans Light'">
    	<h2 style="color: #fff">Lightbeam - Development</h2>
    	<div style="margin: 0 auto; background:#6FC3E5; width: 50%; border-radius: 10px">
	        <form action="{{{path}}}" method="POST" style="margin-top: 50px; line-height: 100px">
	            Enter the password: <input type="password" name="password">
	            <input type="submit" value="Submit">
	        </form>
    	</div>
    	<div style="margin: 30px; color: #fff">Please do <u>NOT</u> blog, tweet, announce or discuss about Lightbeam with anyone outside Mozilla.</div>
    	<script>
    		document.querySelector("input[type='password']").focus();
    	</script>

    </body>
</html>


                                    