<!DOCTYPE html>
<html>
    <head>
        <title>Lightbeam Website</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
        <link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
        <link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
        <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
    </head>
    <body class="profile">
        {{> navBar }}
        <!-- First Section ============================== -->
        <div class="section-container first-section light-blue-bg">
            <div class="container">
                <div class="row" style="margin-bottom: 30px">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <div class="db-breadcrumb">
                                    <a href="/new/database">Database</a> 
                                    >> 
                                    <span class="site"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h1 class="site"></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                Server location: <span id="country"></span>
                                <span class="collectedSince"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <div class="row">
                            <div class="span4">
                                <div class="vizcanvas-container" style="width: 100%; height: 370px">
                                    <svg class="vizcanvas" width="100%" height="100%" viewBox="0 0 1000 1000"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <h4 class="all-cap blue-text num-total-connection"><b></b> CONNECTIONS</h4>
                                <div>
                                    <svg class="percent-bar" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <rect class="first-bar" height="20" />
                                        <text x="5" y="15"></text>
                                        <rect class="third-bar" height="20" />
                                        <text y="15"></text>
                                    </svg>
                                </div>
                                <div class="all-cap num-first"><b></b> first party connections</div>
                                <div class="all-cap num-third"><b></b> third party connections</div>
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="profile-main">
                            {{> tableSiteProfile }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End First Section -->
        {{> firstFooter}}
        {{> footer}}
        <div id="loading">
            <div>
                <img src="/images/loader.gif" alt="Loading..."/><br/>
                <span>LOADING...</span>
            </div>
        </div>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
        <script src="/js/collusion.js"></script>
        <script src="/js/ui.js"></script>
    </body>
</html>