<!DOCTYPE html>
<html>
    <head>
        <title>Collusion Website</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
        <link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
        <link rel="stylesheet" href="/styles/PathwayGothicOne-Regular.css" type="text/css" />
        <link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
    </head>
    <body>
        {{> navBar }}
        <!-- First Section ============================== -->
        <div class="section-container first-section dark-grey-bg">
            <div class="container">
                <div class="row" style="margin-bottom: 30px">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <div class="db-breadcrumb">
                                    <a href="/new/database">Database</a> 
                                    >> 
                                    <a href="/new/profileNew/{{{site}}}">{{site}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h1>{{site}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="blue-divider" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="inline-label grey-text">in the past 24 hours...(temporary, to be switched to show all time data)</div><span class="collectedSince"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <div class="row">
                            <div class="span4">
                                <div class="vizcanvas-container" style="width: 100%; height: 370px">
                                    <svg class="vizcanvas" width="100%" height="100%" viewBox="0 0 1000 1000"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <div class="inline-label grey-text" style="margin-top: 15px">
                                    <span class="blue-text">{{profileNumConnections}} CONNECTIONS</span> were made between this site and the following <span class="blue-text">{{#if connectionList}} {{connectionList.length}} {{/if}} SITES</span>:
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="profile-main">
                            <div class="row">
                                <div class="span4">
                                    <header>Site Description</header>
                                    <section>
                                        Website: <a href="">{{site}}</a><br/><br/>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis. Ut ac lacinia nibh. Suspendisse ac eleifend enim. Donec ornare, metus eu suscipit tempor...
                                        </p>
                                    </section>
                                </div>
                                <div class="span4">
                                    <header>&nbsp;</header>
                                    <section>
                                        Server location: <span id="country"></span><br/><br/>
                                        <div>{{> map }}</div>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <header>Data Details</header>
                                    <section>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis.
                                    </section>
                                </div>
                                <div class="span4">
                                    <header>Privacy Policy</header>
                                    <section>
                                        Privacy Policy: </br>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End First Section -->
        <!-- Second Section ============================== -->
        {{> tableSiteProfile }}
        <!-- End Second Section -->
        {{> firstFooter}}
        {{> footer}}
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="/js/collusion.js"></script>
        <script src="/js/ui.js"></script>
        <script>
            document.querySelector("ul.collusion-nav-inner li#databasePage").classList.add("active");
            $.ajax({
                url: "http://collusiondb-development.herokuapp.com/getSiteProfileNew?name={{{site}}}",
                dataType: 'jsonp',
                success: function(data){
                    loadData(data); 
                }
            });
            $.ajax({
                url: "http://freegeoip.net/json/{{{site}}}",
                dataType: 'jsonp',
                success: function(data){
                    var countryName = data.country_name;
                    var countryCode = data.country_code.toLowerCase();
                    if ( data == false || countryName === "Reserved" ){
                        document.querySelector("#country").innerHTML = "(Unable to find server location)";
                    }else{
                        document.querySelector("#country").innerHTML = data.country_name;
                        var countryOnMap = document.querySelector(".mapcanvas").getElementById(countryCode);
                        if (countryOnMap){
                            countryOnMap.classList.add('highlight-country');
                        }
                    }
                }
            });
            // var collectedSince = new Date( parseInt("{{collectedSince}}") );
            // document.querySelector(".collectedSince").innerHTML = collectedSince;
        </script>
    </body>
</html>