<!DOCTYPE html>
<html>
    <head>
        <title>Collusion Website</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
        <link rel="stylesheet" href="/styles/OpenSans.css" type="text/css" />
        <link rel="stylesheet" href="/styles/PathwayGothicOne-Regular.css" type="text/css" />
        <link rel="stylesheet" href="/styles/collusion.css" type="text/css" />
        <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
    </head>
    <body class="profile">
        {{> navBar }}
        <!-- First Section ============================== -->
        <div class="section-container first-section light-blue-bg">
            <div class="container">
                <div class="row" style="margin-bottom: 30px">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <div class="db-breadcrumb">
                                    <a href="/new/database">Database</a> 
                                    >> 
                                    <span class="site"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h1 class="site"></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="blue-divider" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="inline-label">in the past 7 days...(temporary, to be switched to show all time data)</div><span class="collectedSince"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <div class="row">
                            <div class="span4">
                                <div class="vizcanvas-container" style="width: 100%; height: 370px">
                                    <svg class="vizcanvas" width="100%" height="100%" viewBox="0 0 1000 1000"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <h4 class="all-cap blue-text num-total-connection"><b></b> CONNECTIONS</h4>
                                <div>
                                    <svg class="percent-bar" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <rect class="first-bar" height="20" />
                                        <text x="5" y="15"></text>
                                        <rect class="third-bar" height="20" />
                                        <text y="15"></text>
                                    </svg>
                                </div>
                                <div class="all-cap num-first"><b></b> first party connections</div>
                                <div class="all-cap num-third"><b></b> third party connections</div>
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="profile-main">
                            <div class="row">
                                <div class="span4">
                                    <header>Site Description</header>
                                    <section>
                                        Website: <a href="">{{site}}</a><br/><br/>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis. Ut ac lacinia nibh. Suspendisse ac eleifend enim. Donec ornare, metus eu suscipit tempor...
                                        </p>
                                    </section>
                                </div>
                                <div class="span4">
                                    <header>&nbsp;</header>
                                    <section>
                                        Server location: <span id="country"></span><br/><br/>
                                        <div style="max-width: 100%;max-height: 250px">{{> map }}</div>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    <header>Data Details</header>
                                    <section>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus eu quam consectetur vestibulum. Vivamus elementum faucibus commodo. Nullam bibendum ac justo in convallis.
                                    </section>
                                </div>
                                <div class="span4">
                                    <header>Privacy Policy</header>
                                    <section>
                                        Privacy Policy: </br>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End First Section -->
        <!-- Second Section ============================== -->
        {{> tableSiteProfile }}
        <!-- End Second Section -->
        {{> firstFooter}}
        {{> footer}}
        <div id="loading">
            <div>
                <img src="/images/loader.gif" alt="Loading..."/><br/>
                <span>LOADING...</span>
            </div>
        </div>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
        <script src="/js/collusion.js"></script>
        <script src="/js/ui.js"></script>
        <script>
            document.querySelector("ul.collusion-nav-inner li#databasePage").classList.add("active");
        </script>
    </body>
</html>