<!DOCTYPE html>
<html>
    {{> header }}

    <body>
        <div id="outer-wrapper">
            {{> webmakerNav }}
            <div id="wrapper">
                <div class="header">
                    <div class="container">
                        <a href="/" class="collusion-logo"><span class="collusion-label">Collusion</span> directory</a>
                    </div>
                </div>
                <div class="container">
                    <section>
                        <div class="website-header">
                            <div class="header-left sub-left">
                                <div class="visit-site-label"> When people visit</div><div class="site-url">{{{profileName}}}</div>
                            </div>
                            <div class="header-right sub-right">
                                These sites tracks them.
                            </div>
                            <div style="clear: both"></div>

                        </div>
                        <div class="detail-section">
                            <div class="map-section sub-left">
                                <svg class="vizcanvas" width="70%" height="70%" viewBox="0 0 1000 1000">  </svg>
                                <div>
                                    Server located in <span class="country"></span><br /><br />
                                    Privacy Score: ____
                                </div>
                            </div>
                            <div class="connections sub-right">
                                <div class="filter-options">
                                  <input id="filter-cookie" type="checkbox" checked="true">Show <span style="color: #ED9118">Cookie-Based</span> Connections</input></br>
                                  <input id="filter-noncookie" type="checkbox" checked="true">Show <span style="color: #3DABB3">Non-Cookie-Based</span> Connections</input></br>
                                </div>
                                {{#if sites}}
                                <ul>
                                    {{#siteList sites}}
                                    <li cookie-connection="{{ifCookie}}">
                                        <a href="{{pageUrl}}">{{siteUrl}}</a>
                                    </li>
                                    {{/siteList}}
                                </ul>
                                {{/if}}

                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- <div id="modal-overlay"> not sure if we should have this</div> -->
        </div>

        <script src="/js/require.js"></script>
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/parseurl.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script>
            /*
              Based on https://github.com/toolness/url-demystifier
              and uses Steven Levithan's parseUri 1.2.2
            */
            var url = window.location.pathname.split("/")[2];
            var info = parseUri(url);
            var jsonURL = "http://freegeoip.net/json/" + info.host;
            var countryCode = "";
            $.getJSON(jsonURL, function(geoip) {
                  geoip.has_name = geoip.city && geoip.region_name &&
                                   geoip.country_name;
                  geoip.host = info.host;
                  for ( var property in geoip){
                    //console.log(property + ": " + geoip[property]);
                  }
                  $(".country").html(geoip.country_name);
                  countryCode = geoip.country_code;
                  var svg = d3.select("#worldmap");
                  var countryOnMap = d3.select("#worldmap").select("#" + countryCode.toLowerCase());
                  //console.log(countryOnMap);
                  countryOnMap.classed("highlight-country", true);
                  countryOnMap.selectAll("path").classed("highlight-country", true);
            });
            /* ----------------------------------------------------------- */



            $("ul li[cookie-connection=true]").addClass("cookie");
            $("ul li[cookie-connection=false]").addClass("non-cookie");

            $("#filter-cookie").click(function(){
                  $("ul li[cookie-connection=true], ul li[cookie-connection=true] a").toggleClass("cookie").toggleClass("greyed-out");
            });

            $("#filter-noncookie").click(function(){
                  $("ul li[cookie-connection=false], ul li[cookie-connection=false] a").toggleClass("non-cookie").toggleClass("greyed-out");
            });
            
        </script>
        {{> webmakerNavScript }}
        <script src="/js/collusion.js"></script>
        <script>getCollusionData("{{{profileName}}}");</script>


    </body>

</html>


                                    