<!DOCTYPE html>
<html>
    {{> header }}

    <body>
    
        <div id="outer-wrapper">
            {{> webmakerNav }}
            <div id="wrapper">
                <div class="header">
                    <div class="container">
                        <a href="/" class="collusion-logo"><span class="collusion-label">Collusion</span> directory</a>
                    </div>
                </div>
                <div class="container">
                    <section>
                        <div class="website-header">
                            <div class="header-left sub-left">
                                <div class="visit-site-label"> </div><div class="site-url">{{{profileName}}}</div>
                            </div>
                            <div class="header-right sub-right">
                                connects from/to these sites
                            </div>
                            <div style="clear: both"></div>

                        </div>
                        <div class="detail-section">
                            <div class="map-section sub-left">
                                <svg class="vizcanvas" width="70%" height="70%" viewBox="0 0 1000 1000">  </svg>
                                <div>
                                    Server located in <span class="country"></span><br /><br />
                                    Privacy Score: ____
                                </div>
                            </div>
                            <div class="connections sub-right">
                                {{#if sites}}
                                <ul>
                                    {{#siteList sites}}
                                    <li cookie-connection="{{ifCookie}}">
                                        <a href="{{pageUrl}}">{{siteUrl}}</a>
                                    </li>
                                    {{/siteList}}
                                </ul>
                                {{/if}}

                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- <div id="modal-overlay"> not sure if we should have this</div> -->
        </div>

        <script src="/js/require.js"></script>
        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/parseurl.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="/js/profile.js"></script>
        <script src="/js/webmakerNav.js"></script>
        <script src="/js/collusion.js"></script>
        <script>getCollusionData("{{{profileName}}}");</script>

    </body>

</html>


                                    