body{
	font-family: 'Open Sans Light', sans-serif;
	font-size: 14px;
	line-height: : 20px;
	color: #3D454D;
	background-color: #EAEFF2;
}

.large, h1, h2, h3, h4, .small, small{
	font-weight: normal;
}

.large{
	font-size: 72px;
	letter-spacing: -3px;
	line-height: 100%;
}

h1{
	font-size: 48px;
	letter-spacing: -2px;
	line-height: 100%;
}

h2{
	font-size: 32px;
    letter-spacing: -1px;
    line-height: 100%;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
    line-height: 100%;
}

h4 {
    font-size: 24px;
    letter-spacing: -0.25px;
    line-height: 100%;
}

.small, small {
    font-size: 12px;
    line-height: 100%;
}
  


a{
	color: #47C3E3;
}

a:hover{
	color: #9DE7F9;
	text-decoration: none;
	cursor: pointer;
}

#tabzilla, #tabzilla-panel{
  z-index: 1000;
}


#collusion-logo{
	display: block;
	padding: 10px 0;
	border: 1px solid #444;
	width: 200px;
	text-align: center;
}

.navbar .nav li a#collusion-logo:hover, 
.active#collusion-logo{
	background-color: none;
	border: none;
}

.btn{
	background-image: none;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 5px 30px;
	box-shadow: none;
	text-shadow: none;
	border: none;
}

.blue-btn{
	background-color: #46C3E5;
	color: #fff;
}

.light-blue-btn{
	background-color: #93D3F5;
	color: #fff;
}

.download-btn{
	padding: 20px 60px;
	font-size: 25px;
	width: 100%;
}

.light-blue-bg{
	color: #555;
	background-color: #EAEFF2;
}

.white-bg{
	background-color: #fff;	
}

.blue-bg{
	background-color: #ABDFF2;
}

.dark-bg{
	background-color: #424F5A;
	color: #fff;
}

.collusion-header{
	margin-bottom: 50px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.middle{
	text-align: center;
}

.hidden{
	display: none;
}

#loading{
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 10000000;
}

#loading div{
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	pointer-events: none;
	text-align: center;
	color: white;
}

#loading img, #loading span{
	position: relative;
	top: 50%;
}

.collusion-nav-bar a, .collusion-nav-bar a:link, .collusion-nav-bar a:visited{
	color: rgb(72, 72, 72);
}

.collusion-nav-bar ul{
	list-style-type: none;
	white-space: nowrap;
	color: #444;
}

.collusion-nav-bar ul li{
	margin-top: 10px;
	padding: 0 20px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.temp-placeholder{
	background-color: #444;
	border-radius: 5px;
}

.square{
	width: 120px;
	height: 120px;
	margin: 10px auto;
}

.temp-placeholder-circle{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	background-color: #ccc;	
	margin: 40px auto 40px auto;
}

.first-section{
	padding: 30px 0 50px 0;	
}

.second-section,
.third-section,
.fourth-section,
.fifth-section,
.sixth-section,
.seventh-section,
.footer {
	padding: 50px 0;
}

.subsection:not(:last-of-type){
	margin-bottom: 40px;
}

.first-section .page-slogan{
	margin-top: 50px;	
	margin-bottom: 30px;
}

.round-corner{
	border-radius: 5px;
}

.blue-divider{
	border-top: solid 5px #47C3E3;	
	height: 1px;
	margin-bottom: 20px;
}

.inline-label{
	letter-spacing: 1px;
	display: inline-block;
	margin-right: 10px;
}

.grey-text{
	color: #888;
}

.blue-text{
	color: #48C7E6;
}

.all-cap{
	text-transform: uppercase;
}

.sorting-options{
	display: inline-block;
	margin-bottom: 5px;
}

.sorting-options a{
	padding: 0 5px;
}

.sorting-options a[data-selected]{
	font-weight: bold;
	border: 1px solid #48C7E6;
}

.pagination{
	margin: 0 0 10px 0;
}

.pagination a{
	display: inline-block;
	margin: 0 5px;
}

.pagination a[data-selected]{
	font-weight: bold;
}


table tr{
	border-bottom: 1px solid #999;	
}

.website-list-table, 
.top-trackers-table{
	line-height: 35px;
	width: 100%;
	text-align: left;
}

.website-list-table th{
	background-color: #ABDFF2;
	text-transform: uppercase;
	line-height: 150%;
}

.website-list-table tr:hover,
.top-trackers-table tr:hover{
	background-color: #BFBFBF;
	cursor: pointer;
}

.top-trackers-table caption{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 3px 0;
}

.top-trackers-table tr td:first-child{
	color: #2FB4D2;
}

.profile-connection-list{
	border-radius: 5px;
	background: #E9EAEB;
	height: 300px;
	overflow-y: scroll;
	margin-top: 20px;
}

.profile-connection-list ul{
	color: #3D454D;
	list-style-type: none;
}

.profile-connection-list ul li{
	line-height: 30px;	
}

.profile-connection-list ul li a, 
.profile-connection-list ul li a:hover{
	color: #3D454D;
}

.profile-main{
	color: #3D454D;
	border-radius: 5px;
	padding: 10px 0;
}

.profile-main header{
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}

.profile-main div[class*="span"]{
	padding: 10px 0;
}

svg.percent-bar{
	height: 20px;
	border-radius: 5px;
	width: 100%;
}

svg.percent-bar .first-bar{
	fill: #05199E;
}

.num-first{
	color: #05199E;
}

svg.percent-bar .third-bar{
	fill: #D97F02;
}

.num-third{
	color: #D97F02;
}

svg.percent-bar rect + text{
	font-weight: bold;
	fill: #fff;
}



/* Styles for Collusion Graph */

.vizcanvas-container{
    background-color: #000;
    border-radius: 5px;
}

.edge{
    stroke: #FFF;
}

.node{
    fill: #FFF;
}



/* Dashboard */

.dashboard{
    width: 960px;
    height: 540px;
    margin: 0 auto;
    background: #373737;
    color: #ffffff;
    padding: 50px 50px;
    font-family: "Open Sans";
    border: 0px solid white;
    overflow: hidden;
    line-height: normal;
}

.d-thin-font{
    font-family: "Pathway Gothic One";
}

.dashboard header{
    font-size: 160px;
    line-height: 110px;
    margin-bottom: 15px;
}

.d-left{
    width: 70%;
    height: 100%;
    border: 0px solid red;
    float: left;
}

.d-l1 {
    height: 180px;
    height: calc(100% / 3);
}

.d-l1 .d-l1-t,
.d-l1 .d-l1-b{
    width: 100%;
}

.d-l2 {
    margin-bottom: 20px;
    height: 170px;
    height: calc(100% / 3 - 10px);
}

.d-l2 .d-l2-l, .d-l2 .d-l2-r{
    background: #0FB1C2;
    float: left;
    height: 100%;
    text-align: center;
    border-radius: 3px;
}

.d-l2 .d-l2-l{
    width: 60%;
}

.d-l2 .d-l2-r{
    margin-left: 20px;
    width: 248px; /* ( 960px * 0.7 * 0.4 ) - 20px */
    width: calc(40% - 20px);
}

.d-l3{
    width: 100%;
    height: 170px;
    height: calc(100% / 3 - 10px);
    background:#2BAEDE;
    clear: both;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
}

.d-l3 .d-l3-l,
.d-l3 .d-l3-r{
    width: 50%;
    float: left;
    margin: 20px 0;
}

.d-right{
    margin-left: 20px;
    width: 268px; /* ( 960px * 0.3 ) - 20px */
    width: calc(30% - 20px);
    height: 100%;
    border: 0px solid yellow;
    float: left;
    overflow: hidden;
    border-radius: 3px;
}

.d-r1{
    padding: 10px;
    background: #46BAB3;
    margin-bottom: 25px;
    height: 100%;
}

.d-r1 ul.d-trackers-list{
    list-style: decimal;
    margin: 5px 10px 10px 25px;
}

.d-r1 ul.d-trackers-list li{
    margin-bottom: 5px;
}

.d-tracker-site {
    font-size: 15px;
}

.d-tracker-sources{
    color: rgba(85,144,151,1);
    line-height: 10px;
    font-size: 11px;
}

.d-tracker-connections {
    color: rgba(255,255,255,0.4);
    margin-top: 3px;
    line-height: 10px;
    font-size: 11px;
}

.d-transparent-text {
    color: rgba(255,255,255,0.7);
}

.d-italics{
    font-style: italic;
}

