body {
  font-size: 14px;
  line-height: 150%;
}

section {
  width: 100%;
  clear: both;
  padding-bottom: 40px;
}


.header {
  background: #222222;
  height: 120px;
  padding-bottom: 30px;
}

.header .container{
  font-size: 24px;
  color: #666666;
  position: relative;
  top: 100px;
  padding-top: 0;
}

.container {
  /* width: 896px; */
  width: 1200px;
  margin: 0 auto;
  display: block;
  position: relative;
}

a.collusion-logo {
  text-decoration: none;
  color: #555555;
}

.collusion-label {
  color: white;
}

.left-column {
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  border-right: 3px solid #ccc;
  width: 780px;
}

.right-column{
  padding-top: 20px;
  float: left;
  padding-left: 25px;
  width: 350px;
}

.blog-section{
  padding-right: 50px;
  width: 100%;
}

.feed-section ul{
  list-style-type: none;
  padding-left: 20px;
}

.subsection {
  margin-bottom: 15px;
  overflow: hidden;
}

.subsection-icon{
  float: left;
  font-size: 35px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

.subsection div{
  float: left;
  margin-left: 15px;
  width: -moz-calc(100% - 55px);
  width: -webkit-calc(100% - 55px);
  width: calc(100% - 55px);
}

.get-involved-section header,
.feed-section header,
.search-section header,
.explain-section header{
  font-weight: bold;
}

.section-header, .blog-section header{
  font-size: 18px;
  margin-bottom: 15px;
}


.button i, .button-blue i{
  margin-right: 5px;
  vertical-align: middle;
  font-size: 15px;
}

.time-range {
    margin: 10px 0 20px 0;
}


.profile-thumb{
  /*box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);*/
  width: 400px;
  height: 65px;
  margin: 0 0 20px 0;
  padding: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
  background: #FFFFFF;
  color: #444444;
  display: block;
}

.profile-thumb:hover{
  background: #CAE1F4;
  color: black;
  text-decoration: none;
}

.profile-thumb img{
  padding-right: 5px;
  width: 16px;
  height: 16px;
}

.highlight-country{
    fill: #0ca0e2 !important;
}

.greyed-out{
  color: rgba(204, 204, 204, 0.5);
}

ul{
  margin-left: 50px;
}

ul li.cookie{
  color: #ED9118;
}

ul li.non-cookie{
  color: #3DABB3;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.tracker-header, .website-header {
    width: 100%;
    color: #fff;
    line-height: 60px;
}

.sub-left{
    float: left;
    width: 690px;
    padding-left: 10px;
}

.sub-right{
    width: 480px;
    padding: 0 10px;
    float: left;
}

.tracker-header .header-left, .website-header .header-right{
    height: 60px;
    background: #2e323b;
    line-height: 60px;
    font-size: 15px;
    position: relative;
}

.website-header .header-left{
    height: 60px;
    background: #2e323b;
    line-height: 60px;
    font-size: 15px;
    position: relative;
}


.header-left div{
    vertical-align: middle;
    display: inline;
}

.site-url {
    background: rgba(255,255,255,0.2);
    font-size: 25px;
    padding: 0 10px;
}

.website-header .site-url{
    margin-left: 10px;
}

.tracks-people-label{
    padding-left: 20px;
    position: absolute;
    right: 10px;
}

.tracker-header .header-right, .website-header .header-left{
    height: 60px;
    background: #37ade2;
}

.detail-section {
    margin-top: 20px;
}


.connections ul{
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
}


/* Styles for Collusion Graph */

.vizcanvas{
    background-color: #000;
}

.edge{
    stroke: #FFF;
}

.node{
    stroke-width: 4;
}

.secureYes{
    stroke: #1ABE15;
}

.secureNo{
    stroke: #CE1105;
}

.secureBoth{
    stroke: #EA5E15;
}

.cookieYes{
    fill: #1E55EE;
}

.cookieNo{
    fill: #FEEB1E;
}

.cookieBoth{
    fill: #EA5E15;
}


/* Style for Blog Posts */

.blog-post{
    border-top: 1px dashed #ccc;
    padding: 20px 0 0 0;
}

.blog-post:first-of-type{
    border-top: 0px;
}

.blog-title{
    background: rgba(41,131,200,0.2);
    color: white;
    display: inline;
}

.blog-pubDate{
    margin: 5px 0;
    font-size: 12px;
    color: #888;
}

.blog-description{
    margin-top: 10px;
}

.blog-description *{
    max-width: 100%;
    max-height: 100%;
}



/* Dashboard */

.dashboard{
    width: 960px;
    height: 540px;
    margin: 0 auto;
    background: #373737;
    color: #ffffff;
    padding: 50px 50px;
    font-family: "Open Sans";
    border: 0px solid white;
    overflow: hidden;
    line-height: normal;
}

.d-thin-font{
    font-family: "Pathway Gothic One";
}

.dashboard header{
    font-size: 160px;
    line-height: 110px;
    margin-bottom: 15px;
}

.d-left{
    width: 70%;
    height: 100%;
    border: 0px solid red;
    float: left;
}

.d-l1 {
    height: 180px;
    height: calc(100% / 3);
}

.d-l1 .d-l1-t,
.d-l1 .d-l1-b{
    width: 100%;
}

.d-l2 {
    margin-bottom: 20px;
    height: 170px;
    height: calc(100% / 3 - 10px);
}

.d-l2 .d-l2-l, .d-l2 .d-l2-r{
    background: #0FB1C2;
    float: left;
    height: 100%;
    text-align: center;
    border-radius: 3px;
}

.d-l2 .d-l2-l{
    width: 60%;
}

.d-l2 .d-l2-r{
    margin-left: 20px;
    width: 248px; /* ( 960px * 0.7 * 0.4 ) - 20px */
    width: calc(40% - 20px);
}

.d-l3{
    width: 100%;
    height: 170px;
    height: calc(100% / 3 - 10px);
    background:#2BAEDE;
    clear: both;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
}

.d-l3 .d-l3-l,
.d-l3 .d-l3-r{
    width: 50%;
    float: left;
    margin: 20px 0;
}

.d-right{
    margin-left: 20px;
    width: 268px; /* ( 960px * 0.3 ) - 20px */
    width: calc(30% - 20px);
    height: 100%;
    border:  0px solid yellow;
    float: left;
    overflow: hidden;
    border-radius: 3px;
}

.d-r1{
    padding: 10px;
    background: #46BAB3;
    margin-bottom: 25px;
    height: 100%;
}

.d-r1 ul.d-trackers-list{
    list-style: decimal;
    margin: 5px 10px 10px 25px;
}

.d-r1 ul.d-trackers-list li{
    margin-bottom: 5px;
}

.d-tracker-site {
    font-size: 15px;
}

.d-tracker-sources{
    color: rgba(85,144,151,1);
    line-height: 10px;
    font-size: 11px;
}

.d-tracker-connections {
    color: rgba(255,255,255,0.4);
    margin-top: 3px;
    line-height: 10px;
    font-size: 11px;
}

.d-transparent-text {
    color: rgba(255,255,255,0.7);
}

.d-italics{
    font-style: italic;
}


